$light-bg: #fff;
$mid-tone-bg: #f5f5f5;
$color-bg: #ff9b51;
$dark-bg: #37495e;

$light-text: #fff;
$light-mid-tone-text: #ccc;
$mid-tone-text: #bdbdbd;
$color-text: #ff9b51;
$light-dark-text: #86878b;
$dark-text: #646464;

$light-border: #fff;

$main-font-size-resp: calc(12px + (14 - 12) * ((100vw - 320px) / (1400 - 320)));
$main-font-size: 14px;
$button-font-size-resp: calc(12px + (15 - 12) * ((100vw - 320px) / (1400 - 320)));
$button-font-size: 15px;
$intro-font-size-resp: calc(14px + (16 - 14) * ((100vw - 320px) / (1400 - 320)));
$intro-font-size: 16px;
$main-headline-font-size-resp: calc(16px + (20 - 16) * ((100vw - 320px) / (1400 - 320)));
$main-headline-font-size: 20px;
$footer-icon-font-size-resp: calc(20px + (24 - 20) * ((100vw - 320px) / (1400 - 320)));
$footer-icon-font-size: 24px;
$section-headline-font-size-resp: calc(24px + (36 - 24) * ((100vw - 320px) / (1400 - 320)));
$section-headline-font-size: 36px;
$icon-font-size-resp: calc(36px + (48 - 36) * ((100vw - 320px) / (1400 - 320)));
$icon-font-size: 48px;

$main-font-family: 'Open Sans', sans-serif;
$sub-nav-font-family: 'PT Sans', sans-serif;
$section-headline-font-family: 'Raleway', sans-serif;