$light-bg: #fff;
$mid-tone-bg: #f5f5f5;
$color-bg: #ff9b51;
$dark-bg: #37495e;

$light-text: #fff;
$light-mid-tone-text: #ccc;
$mid-tone-text: #bdbdbd;
$color-text: #ff9b51;
$light-dark-text: #86878b;
$dark-text: #646464;

$light-border: #fff;