.Button {
  padding: 15px 32px;
  display: block;
  align-self: flex-start;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: #ff9b51;
  border-radius: 3px;
  transition: .2s ease-in-out;
}

.Button.-light {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 0;
}

.Button:hover,
.Button.-light:hover {
  color: #ff9b51;
  background-color: #fff;
}