.Headline {
  margin-bottom: 50px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.Headline.-left {
  text-align: left;
}

.Headline.-center {
  text-align: center;
}

.Headline.-right {
  text-align: right;
}

.Headline.-brand {
  margin-bottom: 12px;
}

.Headline.-sublist {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}

.Headline.-sublist:after {
  content: '';
  width: 65px;
  height: 2px;
  display: block;
  background-color: #ff9b51;
  position: absolute;
  top: 100%;
  left: 0;
}