.Button {
  padding: 15px 32px;
  display: inline-block;
  align-self: flex-start;
  font-size: 15px;
  font-weight: 400;
  color: $light-text;
  background-color: $color-bg;
  border-radius: 3px;
  transition: .2s ease-in-out;
  &.-light {
    border: 2px solid $light-border;
    background-color: transparent;
    border-radius: 0;
  }
  &:hover,
  &.-light:hover {
    color: $color-text;
    background-color: $light-bg;
  }
}



