.Headline {
  margin-bottom: 50px;
  font: 700 $main-headline-font-size-resp $main-font-family;
  &.-left {
    text-align: left;
  }
  &.-center {
    text-align: center;
  }
  &.-right {
    text-align: right;
  }
  &.-brand {
    margin-bottom: 12px;
  }
  &.-decorated {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &:after {
      content: '';
      width: 65px;
      height: 2px;
      display: block;
      background-color: $color-bg;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

@include xl {
  .Headline {
    font-size: $main-headline-font-size;
  }
}