.Text {
  font: 400 $main-font-size-resp $main-font-family;
  line-height: 20px;
  color: $light-dark-text;
  &.-intro {
    margin-bottom: 35px;
    font: 300 $intro-font-size-resp $section-headline-font-family;
    line-height: 23px;
    color: $light-text;
  }
  &.-sublist {
    margin-bottom: 45px;
  }
  &.-spaced {
    margin-bottom: 30px;
  }
}

@include xl {
  .Text {
    font-size: $main-font-size;
    &.-intro {
      font-size: $intro-font-size;
    }
  }
}