.Text {
  font-size: 14px;
  font-weight: 400;
  color: $light-dark-text;
  &.-intro {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 300;
    color: $light-text;
  }
  &.-sublist {
    margin-bottom: 45px;
  }
  &.-spaced {
    margin-bottom: 30px;
  }
}