.ProcessList {
  margin: 0 -15px;
  display: flex;
  &-item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-icon {
    max-width: 70px;
    width: 100%;
    margin-bottom: 30px;
  }
  &-title {
    margin-bottom: 25px;
    text-align: center;
  }
  &-text {
    font: 400 $main-font-size-resp $main-font-family;
    text-align: center;
    color: $light-dark-text;
  }
}

@include xl {
  .ProcessList {
    &-text {
      font-size: $main-font-size;
    }
  }
}

@include lg {
  .ProcessList {
    margin: 0;
  }
}

@include md {
  .ProcessList {
    margin: 0;
    flex-direction: column;
    &-item {
    }
  }
}