.Slider {
  position: relative;
  &-wrapper {
    overflow: hidden;
  }
  &-list {
    display: flex;
  }
  &-arrow {
    height: 64px;
    width: 34px;
    padding: 20px 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: -6%;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: .1s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: translateY(-50%) scale(1.3);
    }
    &.-right {
      left: auto;
      right: -6%;
      transform: translateY(-50%) rotate(180deg);
      &:hover {
        transform: translateY(-50%) rotate(180deg) scale(1.3);
      }
    }
  }
}