.SubList-item {
  margin-bottom: 40px;
  display: flex;
  &-icon-wrapper {
    width: 40px;
    height: 40px;
    margin-right: 30px;
  }
  &-headline {
    margin-bottom: 12px;
    font: 600 $main-font-size-resp $main-font-family;
  }
}

@include xl {
  .SubList-item-headline {
    font-size: $main-font-size;
  }
}