.Intro {
  background-size: cover;
  background-position: center;
}

.Intro-wrapper {
  height: 100vh;
  display: flex;
}

.Intro-item {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Intro-title {
  padding-bottom: 35px;
  margin-bottom: 35px;
  position: relative;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.Intro-title:after {
  content: '';
  height: 2px;
  width: 66px;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}