.ProcessList {
  margin: 0 -15px;
  display: flex;
}

.ProcessList-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProcessList-icon {
  max-width: 70px;
  width: 100%;
  margin-bottom: 30px;
}

.ProcessList-title {
  margin-bottom: 25px;
  text-align: center;
}

.ProcessList-text {
  text-align: center;
}