.SubListSection {
  padding: 105px 0 130px;
}

.SubListSection-wrapper {
  display: flex;
  align-items: center;
}

.SubListSection-img-wrapper,
.SubListSection-text-wrapper {
  width: 50%;
}

.SubListSection-img-wrapper {
  padding-right: 90px;
}

.SubListSection-img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .3);
}

.SubListSection-text-wrapper {
  padding-left: 90px;
}