body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  transition: 0.3s all ease-out;
}

a, a:hover {
  text-decoration: none;
}

select, input, textarea {
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
  outline: none;
  list-style: none;
}

button {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

button:hover {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

html,
body,
.root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  flex: 1;
}

.Button {
  padding: 15px 32px;
  display: inline-block;
  align-self: flex-start;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: #ff9b51;
  border-radius: 3px;
  transition: .2s ease-in-out;
}

.Button.-light {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 0;
}

.Button:hover, .Button.-light:hover {
  color: #ff9b51;
  background-color: #fff;
}

.Headline {
  margin-bottom: 50px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.Headline.-left {
  text-align: left;
}

.Headline.-center {
  text-align: center;
}

.Headline.-right {
  text-align: right;
}

.Headline.-brand {
  margin-bottom: 12px;
}

.Headline.-decorated {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}

.Headline.-decorated:after {
  content: '';
  width: 65px;
  height: 2px;
  display: block;
  background-color: #ff9b51;
  position: absolute;
  top: 100%;
  left: 0;
}

.Text {
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
}

.Text.-intro {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.Text.-sublist {
  margin-bottom: 45px;
}

.Text.-spaced {
  margin-bottom: 30px;
}

.Image {
  max-width: 100%;
  height: auto;
  display: block;
}

.Image.-right {
  margin: 0 0 0 auto;
}

.Image.-decorated {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
