.IconsList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &.-footer {
    margin-bottom: 12px;
    justify-content: center;
  }
}

.Icon {
  padding: 5px 26px;
  display: block;
  color: $light-mid-tone-text;
  font-size: $icon-font-size-resp;
  font-weight: 400;
  transition: .1s ease-in-out;
  &:hover {
    color: $color-text;
    transform: scale(1.2) translateY(-3px);
  }
  &.-footer {
    padding: 12px;
    display: block;
    font-size: $footer-icon-font-size-resp;
    &:hover {
      transform: scale(1.5) translateY(-3px);
    }
  }
}

@include xl {
  .Icon {
    font-size: $icon-font-size;
    &.-footer {
      font-size: $footer-icon-font-size;
    }
  }
}