.IconsList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Icon {
  padding: 5px 23px;
  display: block;
  color: #ccc;
  font-size: 48px;
  font-weight: 400;
  transition: .1s ease-in-out;
}

.Icon:hover {
  color: #ff9b51;
  transform: scale(1.2) translateY(-3px);
}

.IconsList.-footer {
  margin-bottom: 12px;
  justify-content: center;
}

.Icon.-footer {
  padding: 12px;
  display: block;
  font-size: 24px;
}

.Icon.-footer:hover {
  transform: scale(1.5) translateY(-3px);
}