.Nav-list-wrapper:hover .SubNav-wrapper {
  max-height: 600px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-relative {
  position: relative;
}

.Nav-list {
  display: flex;
}

.NavItem {
  padding: 30px 20px;
  display: block;
  color: #fff;
  transition: .2s ease-in-out;
}

.NavItem:hover {
  background: #ff9b51;
}