.SectionHeader {
  margin-bottom: 55px;
  &-title {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    font: 400 $section-headline-font-size-resp $section-headline-font-family;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 65px;
      height: 2px;
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-bg;
    }
  }
  &-subtitle {
    text-align: center;
    font: 400 $main-font-size-resp $main-font-family;
    color: $light-dark-text;
  }
}

@include xl {
  .SectionHeader {
    &-title {
      font-size: $section-headline-font-size;
    }
    &-subtitle {
      font-size: $main-font-size;
    }
  }
}