.SubLinks {
  padding: 50px 0;
  columns: 4;
  &-list-item {
    margin-bottom: 12px;
  }
  &-item {
    display: block;
    color: #646464;
    transition: .1s ease-in-out;
    &:hover {
      color: #ff9b51;
    }
  }
}