.Tabs-buttons-list {
  min-width: 112px;
  border-radius: 5px;
  overflow: hidden;
}

.Tabs-button {
  width: 112px;
  height: 112px;
  margin-bottom: 1px;
  font: 700 $button-font-size-resp $main-font-family;
  background-color: $dark-bg;
  color: $light-text;
  text-transform: uppercase;
  border: none;
  &.-active {
    background-color: $color-bg;
  }
}

.Tabs-tab {
  height: 0;
  display: flex;
  overflow: hidden;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  &.-active {
    height: auto;
    opacity: 1;
    &.-animate {
      opacity: 0;
    }
  }
}

.Tabs-text {
  padding: 10px 100px;
}

@include xl {
  .Tabs-button {
    font-size: $button-font-size;
  }
}